[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
[submodule "criterion"]
	path = criterion
	url = https://github.com/disruptek/criterion
[submodule "grok"]
	path = grok
	url = https://github.com/disruptek/grok
